aioredis==1.3.1
anyio==3.7.1
asgiref==3.9.1
async-timeout==5.0.1
attrs==25.3.0
autobahn==24.4.2
Automat==25.4.16
cffi==1.17.1
channels==4.3.1
channels_redis==4.3.0
click==8.3.0
constantly==23.10.4
cryptography==45.0.6
daphne==2.5.0
Django==5.2.5
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
dotenv==0.9.9
h11==0.16.0
hiredis==3.2.1
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
msgpack==1.1.1
psycopg2==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
PyJWT==2.10.1
pyOpenSSL==25.1.0
python-dotenv==1.1.1
redis==6.4.0
rest-framework-simplejwt==0.0.2
service-identity==24.2.0
setuptools==80.9.0
sniffio==1.3.1
sqlparse==0.5.3
Twisted==25.5.0
txaio==25.6.1
typing_extensions==4.14.1
tzdata==2025.2
uvicorn==0.37.0
watchgod==0.8.2
zope.interface==7.2
numpy==1.26.4
opencv-python-headless==4.8.1.78
